:root {
    --vol-thumb-apperance: none;
    --vol-thumb-width: 13px;
    --vol-thumb-height: 13px;
    --vol-thumb-border-radius: 50%;
    --vol-thumb-background: #89B9AD;
    --vol-thumb-border: #222 solid 1px;
}

body {
    background-image: linear-gradient(0deg,
            rgba(247, 247, 247, 1) 23.8%,
            rgba(252, 221, 221, 1) 92%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#BG div:first-child,
#BG div:nth-child(2),
#controlPanel {
    width: 660px;
    height: 310px;
    border-radius: 45px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
}

#BG div:first-child {
    position: absolute;
    background: linear-gradient(300deg,
            #FFEBD8 23.8%,
            #FFC5C5 92%);
    z-index: -10;
}

#BG div:nth-child(2) {
    position: absolute;
    background: radial-gradient(circle closest-corner at right, #C7DCA7, transparent 120%);
    box-shadow: 0 20px 20px rgba(126, 160, 77, 0.4);
    z-index: -5;
}

#volControl {
    top: 20px;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 35px;
    z-index: 0;
}

#left {
    position: relative;
    width: 180px;
    height: 180px;
    left: 20px;
}

#right {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 400px;
    left: 20px;
}

#topInfo {
    width: 80%;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#topInfo>div {
    position: relative;
    color: salmon;
    font-size: 1.5em;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 0 0 0 5px;

}

#topInfo>select {
    position: relative;
    left: 20px;
    width: 50%;
    height: 30px;
    opacity: 50%;
    padding: 0 10px;
    font-size: 1em;
    border-radius: 30px;
    border: 1px solid #222;
    background: url("img/select.png") right no-repeat;
    background-size: 16%;
    appearance: none;
    outline: none;
    cursor: pointer;
}

#midInfo {
    width: inherit;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
}

#midInfo>Div:first-child {
    height: 38px;
    font-weight: 350;
    font-size: 0.7em;
    padding: 0 5px 0 0;
    color: rgba(250, 112, 112);
    transition: width 0.3s ease-in,
        opacity 0.3s ease-in,
        transform 0.3s ease-in;
    width: 0px;
    opacity: 0;
    transform: translateX(-20%);
}

#midInfo.grow>Div:first-child {
    transition: width 0.3s ease-in,
        opacity 1s ease-in,
        transform 0.3s ease-in;
    width: 30px;
    opacity: 1;
    transform: translateX(20%);
}

#midInfo>Div:nth-child(2) {
    position: relative;
    font-size: 1.5em;
    padding: 5px 0;
    color: rgba(126, 160, 77);
}

#funcBtn div {
    width: 350px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#progressBar {
    left: 35px;
    position: relative;
}

#bottomInfo {
    left: 35px;
    width: 70%;
    font-size: 0.8em;
    font-weight: 350;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

#left div:first-child {
    width: inherit;
    height: inherit;
    position: absolute;
    border-radius: 50%;
    background-color: silver;
    border: 1px dashed white;
}

#left span {
    top: 15px;
    right: 40px;
    color: white;
    font-size: 8.2em;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    z-index: 10;
}

#left div:nth-child(4) {
    margin: 29px;
    width: 118px;
    height: 118px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid white;
}

#left div:nth-child(3) {
    margin: 11px;
    width: 160px;
    opacity: 50%;
    height: 160px;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    background: url(img/logo.png) center no-repeat;
    background-size: 110%;

}

/* 增加動畫 */
.rotate {
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.shake {
    animation: shake 1s ease infinite alternate;
}

@keyframes shake {
    from {
        transform: translateY(5px);
    }

    to {
        transform: translateY(-5px);
    }
}

/* 功能按鈕 */
#funcBtn span {
    padding: 8px;
    color: white;
    font-size: 1.8rem;
    font-family: webdings;
    text-align: center;
    border-radius: 50%;
    position: relative;
}

#funcBtn span:hover {
    transition: 0.5s;
    cursor: pointer;
    color: #000000;
    background-color: rgba(126, 160, 77, 0.4);
}

#funcBtn span:active {
    transition: 0.1s;
    padding: 11px;
    font-size: 1.5rem;
    background-color: rgba(126, 160, 77, 0.4);
}

#funcBtn span::after {
    content: attr(data-title);
    position: absolute;
    left: 38px;
    bottom: 38px;
    padding: 5px;
    color: white;
    font-size: 0.7rem;
    border-radius: 5px;
    white-space: nowrap;
    background-color: rgb(126, 160, 77, 0.8);
    opacity: 0;
    transition: 1s;
    transform: translateX(0%);
    z-index: 5;
}

#funcBtn span:hover::after {
    opacity: 1;
    transition: 1s;
    transform: translateX(-100%);
}

#volControl input[type="range"] {
    appearance: none;
    width: 70%;
    height: 5px;
    border-radius: 5px;
    background-image: linear-gradient(to left,
            rgb(255, 255, 255) 80%,
            rgba(255, 170, 161) 80%);
}

input[type="range"]::-webkit-slider-thumb {
    /* 估狗瀏覽器 */
    appearance: var(--vol-thumb-apperance);
    width: var(--vol-thumb-width);
    height: var(--vol-thumb-height);
    border-radius: var(--vol-thumb-border-radius);
}

input[type=range]::-moz-range-thumb {
    /* 火狐瀏覽器 */
    appearance: var(--vol-thumb-apperance);
    width: var(--vol-thumb-width);
    height: var(--vol-thumb-height);
    border-radius: var(--vol-thumb-border-radius);
    border: none;
    background: none;
}

input[type="range"]::-webkit-slider-thumb:hover {
    transition: 0.3s;
    background: var(--vol-thumb-background);
    border: var(--vol-thumb-border);
}

input[type="range"]::-moz-range-thumb:hover {
    transition: 0.3s;
    background: var(--vol-thumb-background);
    border: var(--vol-thumb-border);
}

input[type="button"] {
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    border-radius: 50%;
}

input[type="button"]:first-child {
    background: url("img/nospeaker.png") center no-repeat;
    transition: 0.1s;
    background-size: 80%;
}

input[type="button"]:nth-child(3) {
    background: url("img/speaker.png") center no-repeat;
    transition: 0.1s;
    background-size: 80%;
}

input[type="button"]:hover {
    cursor: pointer;
}

input[type="button"]:active {
    transition: 0.1s;
    background-size: 70%;
}

#volControl input[type="text"] {
    border: none;
    outline: none;
    width: 25px;
    height: 18px;
    margin-top: 2px;
    padding-bottom: 2px;
    cursor: default;
    text-align: center;
    font-size: 1rem;
    color: black;
    background: rgba(0, 0, 0, 0)
}

#right input[type="range"] {
    appearance: none;
    border-radius: 5px;
    height: 5px;
    margin: 5px 0;
    background-color: white;
    width: 70%;
}

/* .hide {
    display: none;
} */

#book {
    position: absolute;
    left: 15px;
    width: 319px;
    font-size: 0.7em;
    font-weight: 300;
    text-align: center;
    color: rgb(85, 124, 85);
    border-radius: 0 0 20px 20px;
    background-image: linear-gradient(150deg,
            rgba(255, 231, 193, 0.6) 23%,
            rgba(255, 255, 255, 0.8) 92%);
    box-shadow: 0 15px 15px rgb(126, 160, 77, 0.4);
    opacity: 0;
    transform: translateY(0px);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    z-index: -1;
}

#book.show {
    opacity: 1;
    transform: translateY(206px);
}

#book>div:first-child {
    width: inherit;
    padding: 7px 0;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

#book>div:nth-child(2) {
    width: 128px;
    padding: 5px 15px;
    height: 80px;
    float: left;
    margin: auto;
    border-right: 1px double rgb(126, 160, 77);
    overflow: auto;
}

#book>div:nth-child(3) {
    width: 128px;
    padding: 5px 15px;
    height: 60px;
    float: right;
    margin: auto;
    overflow: auto;
}

#book>div>div {
    border-bottom: 1px dashed rgb(126, 160, 77);
    cursor: pointer;
    margin: auto;
}

#book>div>div:hover {
    color: rgba(126, 160, 77, 0.5);
}

#book>div>button {
    height: 30px;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    text-align: right;
    color: rgb(85, 124, 85);
    background-color: rgb(0, 0, 0, 0);
    border: 1px solid rgb(0, 0, 0, 0);
}

#book>div>button:hover {
    color: rgba(126, 160, 77, 0.5);
    transition: 0.1s;
    font-size: 1rem;
    cursor: pointer;
    
}

#book>div>button:active {
    color: rgba(126, 160, 77);
    transition: 0.1s;
    font-size: 0.8rem;
}

#book>div:nth-child(5) {
    clear: both;
    display: flex;
    padding-top: 0px;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
}

#book>div:nth-child(5)>span {
    padding: 7px;
    border-radius: 50%;
    background-color: rgb(126, 160, 77, 0.4);
}

#book>div:nth-child(6) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

#book>div:nth-child(6)>span {
    padding: 2px 3px;
    background-color: rgb(126, 160, 77, 0.4);
}